nav{
    margin: 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ele{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-size: 14px;
}

.nav-ele-list-sell{
    cursor: pointer;
}

.nav-ele-list-sell:hover{
    text-decoration: underline;
}

.nav-ele-list-home{
    cursor: pointer;
}

.nav-ele-list-home:hover{
    text-decoration: underline;
}

.nav-ele-list-Auction{
    cursor: pointer;
}

.nav-ele-list-Auction:hover{
    text-decoration: underline;
}